<div class="container">
    <mdb-breadcrumb>
        <mdb-breadcrumb-item class="blue-text" routerLink="/binmak">Home</mdb-breadcrumb-item>
        <mdb-breadcrumb-item class="blue-text" routerLink="/binmak/bokamoso">Bokamoso</mdb-breadcrumb-item>
        <mdb-breadcrumb-item class="blue-text" routerLink="/binmak/diagnosis-charts">Machine Diagnosis
        </mdb-breadcrumb-item>
        <mdb-breadcrumb-item class="active">Blocks</mdb-breadcrumb-item>
    </mdb-breadcrumb>
    <div class="heading">
        <h5>{{condition}} Condition</h5>
        <p class="text-sm-left">List of machines whose conditions are {{condition}} .</p>
    </div>
    <section class="text-center">
        <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
            [animation]="'slide'">
            <mdb-slide  *ngFor="let machines of dataTable">
                <div *ngFor="let machine of machines" class="col-md-4 clearfix d-none d-md-block">
                    <mdb-card cascade="true" narrower="true" class="card-ecommerce" routerLink="/binmak/machine-charts/{{machine.id}}">
                        <div style="height: 200px;" class="view view-cascade overlay waves-light" mdbWavesEffect>
                            <mdb-card-img src="{{machine.imageUrl}}" alt="sample photo"></mdb-card-img>
                            <a>
                                <div class="mask waves-effect waves-light"></div>
                            </a>
                        </div>
                        <mdb-card-body cascade="true" class="text-center no-padding">
                            <mdb-card-title>
                                <h4 class="card-title my-4">
                                    <a routerLink="/binmak/machine-charts/{{machine.id}}" class="text-muted">
                                        <h5>{{machine.name}}</h5>
                                    </a> </h4>
                            </mdb-card-title>
                            <mdb-card-text>{{machine.deviceId}}
                            </mdb-card-text>
                        </mdb-card-body>
                        <mdb-card-footer>
                            <span class="float-left">RPM - {{machine.revolutionPerMinute}} Hz</span>
                            <span class="float-right">
                                <a class="" routerLink="/binmak/machine-charts/{{machine.id}}" data-toggle="tooltip"
                                    data-placement="top" title="" data-original-title="Quick Look">
                                    <mdb-icon far icon="eye" class="ml-3"></mdb-icon>
                                </a>
                            </span>
                        </mdb-card-footer>
                    </mdb-card>
                </div>
            </mdb-slide>
        </mdb-carousel>
    </section>
</div>