################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Binmak/.vs
/BinmakBackEnd/.config
/BinmakBackEnd/Logs
/BinmakBackEnd/Properties
/BinmakBackEnd/wwwroot/Logs
