
  <div class="row">
  <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
    <button type="button" class="btn btn-info mb-3" aria-label="Close" mdbWavesEffect (click)="back()"
      style="background-color: rgb(41, 40, 40) !important; color: white; width: 100px;"> <i class="fa fa-arrow-left"></i>
      BACK</button>
  </div>
  </div>

<div class="row">
  <div class="container">
      <mdb-card class="z-depth-5">
        <mdb-card-header style="background-color: #032c57 !important;">
          <div class="row">
            <div class="col-6">
              <h5 style="color: white;"><a [hidden]="first" (click)="onBack()" style="color: white;"><i class="fas fa-arrow-circle-left"></i></a> {{initKPA[kpaID - 1].name}}</h5>
              <!-- {{getKPAName(kpaID - 1)}} -->
            </div>
            <div class="col-6 d-flex flex-row-reverse">
              <h5><a [hidden]="last" (click)="onNext()" style="color: white;"><i class="fas fa-arrow-circle-right"></i></a></h5>
            </div>
          </div>
        </mdb-card-header>
        <mdb-progress-bar [hidden]="KPAtotalRecords" class="progress primary-color-dark" mode="indeterminate"></mdb-progress-bar>
        <mdb-card-body>
          <form (ngSubmit)='onAdd()' #Form="ngForm">
            <div class="form-group col-12">
              <div class="row pt-2 pb-2">
                <div class="col">
                  <textarea rows="6" type="text" class="form-control" placeholder="{{initKPA[kpaID - 1].description}}" ngModel #description="ngModel"
                    readonly="true" name="description"></textarea>
                </div>
              </div>
              <mdb-tabset #staticTabs [buttonClass]="'md-tabs tabs-primary tabs-3'" [contentClass]="'card'">
                <mdb-progress-bar [hidden]="level1totalRecords && level2totalRecords && level3totalRecords && level4totalRecords && level5totalRecords && resultsSet" class="progress primary-color-dark" mode="indeterminate"></mdb-progress-bar>
                <mdb-tab heading="Innocence" id="tab1">
                  <div class="form-group">
                    <div class="custom-control custom-checkbox" id="innocence" *ngFor="let innocence of level1; let i = index;">
                      <label class="checkbox-inline">
                        <mdb-checkbox name="{{innocence.id}}" [(ngModel)]="initlevel1Results[i].value">{{innocence.description}}</mdb-checkbox>
                        <!-- <input type="checkbox" name="{{innocence.id}}" [(ngModel)]="initlevel1Results[i].value"> -->
                        <!-- {{innocence.description}} -->
                      </label>
                    </div>
                  </div>
                </mdb-tab>
                <mdb-tab heading="Awareness" id="tab2">
                  <div class="form-group">
                    <div class="custom-control custom-checkbox" id="innocence" *ngFor="let awareness of level2; let i=index;">
                      <label class="checkbox-inline">
                        <mdb-checkbox id="check{{awareness.id}}" name="{{awareness.id}}" [(ngModel)]="initlevel2Results[i].value">{{awareness.description}}</mdb-checkbox>
                        <!-- <input id="check{{awareness.id}}" type="checkbox" name="{{awareness.id}}" [(ngModel)]="initlevel2Results[i].value">
                        {{awareness.description}} -->
                      </label>
                    </div>
                  </div>
                </mdb-tab>
                <mdb-tab heading="Understanding" id="tab3">
                  <div class="form-group">
                    <div class="custom-control custom-checkbox" id="innocence" *ngFor="let understanding of level3; let i = index;">
                      <label class="checkbox-inline">
                        <mdb-checkbox name="{{understanding.id}}" [(ngModel)]="initlevel3Results[i].value">{{understanding.description}}</mdb-checkbox>
                        <!-- <input type="checkbox" name="{{understanding.id}}" [(ngModel)]="initlevel3Results[i].value">
                        {{understanding.description}} -->
                      </label>
                    </div>
                  </div>
                </mdb-tab>
                <mdb-tab heading="Competence" id="tab4">
                  <div class="form-group">
                    <div class="custom-control custom-checkbox" id="innocence" *ngFor="let competence of level4; let i=index;">
                      <label class="checkbox-inline">
                        <mdb-checkbox name="{{competence.id}}" [(ngModel)]="initlevel4Results[i].value">{{competence.description}}</mdb-checkbox>
                        <!-- <input type="checkbox" name="{{competence.id}}" [(ngModel)]="initlevel4Results[i].value">
                        {{competence.description}} -->
                      </label>
                    </div>
                  </div>
                </mdb-tab>
                <mdb-tab heading="Excellence" id="tab5">
                  <div class="form-group">
                    <div class="custom-control custom-checkbox" id="innocence" *ngFor="let excellence of level5; let i = index;">
                      <label class="checkbox-inline">
                        <mdb-checkbox name="{{excellence.id}}" [(ngModel)]="initlevel5Results[i].value">{{excellence.description}}</mdb-checkbox>
                        <!-- <input type="checkbox" name="{{excellence.id}}" [(ngModel)]="initlevel5Results[i].value">
                        {{excellence.description}} -->
                      </label>
                    </div>
                  </div>
                </mdb-tab>
              </mdb-tabset>
              <hr />
                  <div class="row">
                    <div class="col-md-6">
                      <button [disabled]="!Form.valid || !(level1totalRecords && level2totalRecords && level3totalRecords && level4totalRecords && level5totalRecords) || level1ResultstotalRecords || level2ResultstotalRecords || level3ResultstotalRecords || level4ResultstotalRecords || level5ResultstotalRecords || !KPAtotalRecords" type="submit"
                        class="btn btn-primary btn-block mb-2" style="background-color: #032c57 !important; color: white;">Submit</button>
                    </div>
                    <div class="col-md-6">
                      <button [disabled]="!(level1totalRecords && level2totalRecords && level3totalRecords && level4totalRecords && level5totalRecords) || !level1ResultstotalRecords || !level2ResultstotalRecords || !level3ResultstotalRecords || !level4ResultstotalRecords || !level5ResultstotalRecords || !KPAtotalRecords" (click)="onUpdate()" style="width: 100%;" type="button"
                        class="btn btn-secondary btn-block mb-2" style="background-color: #303031 !important; color: white;">Update</button>
                    </div>
                    <!-- <div class="col-md-4">
                      <button [disabled]="!charID || Form.valid" (click)="onDelete()" style="width: 100%;" type="button"
                        class="btn btn-dark">Delete</button>
                    </div> -->
                  </div>
            </div>
          </form>
        </mdb-card-body>
        </mdb-card>
    </div>
</div>
<footer class="fixed-bottom">
  <div id="footer1" style="height:25px;" class="container-fluid">
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 text-center">
              <p>

              </p>
          </div>
      </div>
  </div>
  <div id="footer2" style="height: 25px; background: #032c57;
  opacity: 0.50;" class="shadow-lg">
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 text-center">
            <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-4">
                <p [hidden]="!Visible()" style="color: white;">Running Assessment: {{GetAssessmentName()}}</p>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4">
                <p style="color:white; padding-left:20px;"> &copy 2020 Powered by Binmak <a routerLink="/" target="_blank"></a></p>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4">
                <span [hidden]="!Visible()" (click)="onClear(GetAssessment())" class="badge badge-pill badge-dark mr-4">Clear Results</span>
                <span [hidden]="!Visible()" (click)="onSave(GetAssessment())" class="badge badge-pill badge-dark">Save Results</span>
              </div>
            </div>


          </div>
      </div>
  </div>
</footer>
